<header role="banner">
    <div>
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <a aria-label="Home page" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    </div>
    {%- if page_paths -%}
    <nav aria-label="pages">
        <ul>
            {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.include_in_nav -%}
            <li>
                <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
            {%- endif -%}
            {%- endfor -%}
        </ul>
    </nav>
    {%- endif -%}
</header>

