<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title %}
    {% assign title = site.title | append: " | " | append: page.title %}
    {% else%}
    {% assign title = site.title %}
    {% endif %}

    <title>{{ title }}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,400;1,500&family=Arvo:wght@700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <!--  Code syntax highlighting  -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
    <script>hljs.initHighlightingOnLoad();</script>
</head>
