
.page {

  h2 {
    clear: both;

    em {
      color: black;
    }
  }

  #what-does-bad-look-like {

    + p + ul {
      padding: $padding-unit;
      border: 5px solid rgba(245, 0, 0, 0.11);
      border-radius: $padding-unit / 10;

      li {
        margin-left: $padding-unit;
        list-style-image: url('/images/thumbs-o-down.png');
      }
    }
  }
}
