.hljs {
  background-color: transparent!important;
  outline: 1px solid $mid-grey;
}

.hljs-comment {
  color: $very-dark-grey!important;
}

.hljs-regexp {
  color: $very-dark-grey!important;
}

.hljs-variable {
  color: $very-dark-grey!important;
}

.hljs-literal {
  color: $very-dark-grey!important;
}

.pl-v {
  color: $very-dark-grey!important;
}
