.home {

  h2 {
    margin-top: 0;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    margin-bottom: $padding-unit;

    a {
      @extend h2;
      display: block;
    }

    span {
      font-size: 80%;
    }
  }
}