.home {

  h2 {
    margin-top: 0;
  }
  
  span {
    font-size: smaller;
    color: $dark-grey;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    margin-bottom: $padding-unit;
  }
}