@media screen and (min-width: $break-medium) {
  figure {
    max-width: 60%;
    margin: auto;
  }
}

figure {
  background-color: $light-grey;
  padding: 1em;

  img {
    width: 100%;
  }

  figcaption {
    color: $almost-black;
  }

}
