.page {
  img {
    border-radius: 50%;
    max-width: 50%;
    margin-right: $padding-unit;
  }

}

@media screen and (min-width: $break-small) {
  .page {
    img {
      max-width: 20%;
    }
  }
}
