body {
  padding: 1em;
}

img {
  max-width: 100%;
}

pre {
  code {
    padding: 2em !important;
  }
}

header {
  display: flex;

  > * {
    flex: 1;
  }

  nav {
    display: flex;
    flex-direction: row-reverse;

    a {
      margin-left: 1em;
    }
  }
}

@media screen and (min-width: 50em) {
  body {
    max-width: 48em;
    padding: 2em;
  }
}