@mixin outcome {
  background-color: $light-grey;
  padding: 0.2em 1.5em 1em 1.5em;
  li {
    list-style: none;
    &::before {
      content: "✅ ";
      margin-left: -1.5em;
    }
  }
}

@mixin idea {
  background-color: $light-grey;
  padding: 0.2em 1.5em;
  li {
    list-style: none;
    &::before {
      content: "💡 ";
      margin-left: -1.5em;
    }
  }
}