.objectives {

  h2 {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid $mid-grey;
  }

  .progress {
    border-left: 4px solid $success-colour;
    @include outcome
  }

  .failure {
    border-left: 4px solid $warning-colour;
    @include outcome
  }

  .idea {
    @include idea
  }
}