/**
 * Syntax highlighting styles
 */

code {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 80%;
  line-height: 1em;
}

.highlight {
  background: #1b1d1e;
  padding-left: 0.5em;
  overflow: scroll;
  color: #f8f8f2;

  table td {
    padding: 5px;
  }

  table pre {
    margin: 0;
  }

  .c, .cd {
    color: #5e5d83;
    font-style: italic;
  }

  .cm {
    color: #5e5d83;
    font-style: italic;
  }

  .c1 {
    color: #5e5d83;
    font-style: italic;
  }

  .cp {
    color: #465457;
    font-weight: bold;
  }

  .cs {
    color: #465457;
    font-weight: bold;
    font-style: italic;
  }

  .err {
    color: #f8f8f2;
    background-color: #403d3d;
  }

  .gi {
    color: #a6e22e;
  }

  .gd {
    color: #f92672;
  }

  .ge {
    color: #1b1d1e;
    font-style: italic;
  }

  .gr {
    color: #f92672;
  }

  .gt {
    color: #f92672;
  }

  .gh {
    color: #403d3d;
  }

  .go {
    color: #403d3d;
  }

  .gp {
    color: #66d9ef;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: #465457;
  }

  .k, .kv {
    color: #66d9ef;
    font-weight: bold;
  }

  .kc {
    color: #66d9ef;
    font-weight: bold;
  }

  .kd {
    color: #66d9ef;
    font-weight: bold;
  }

  .kp {
    color: #66d9ef;
    font-weight: bold;
  }

  .kr {
    color: #66d9ef;
    font-weight: bold;
  }

  .kt {
    color: #66d9ef;
    font-weight: bold;
  }

  .kn {
    color: #f92672;
    font-weight: bold;
  }

  .ow {
    color: #f92672;
    font-weight: bold;
  }

  .o {
    color: #f92672;
    font-weight: bold;
  }

  .mf {
    color: #af87ff;
  }

  .mh {
    color: #af87ff;
  }

  .il {
    color: #af87ff;
  }

  .mi {
    color: #af87ff;
  }

  .mo {
    color: #af87ff;
  }

  .m, .mb, .mx {
    color: #af87ff;
  }

  .se {
    color: #af87ff;
  }

  .sb {
    color: #d7d787;
  }

  .sc {
    color: #d7d787;
  }

  .sd {
    color: #d7d787;
  }

  .s2 {
    color: #d7d787;
  }

  .sh {
    color: #d7d787;
  }

  .si {
    color: #d7d787;
  }

  .sx {
    color: #d7d787;
  }

  .sr {
    color: #d7d787;
  }

  .s1 {
    color: #d7d787;
  }

  .ss {
    color: #d7d787;
  }

  .s {
    color: #d7d787;
  }

  .na {
    color: #a6e22e;
  }

  .nc {
    color: #a6e22e;
    font-weight: bold;
  }

  .nd {
    color: #a6e22e;
    font-weight: bold;
  }

  .ne {
    color: #a6e22e;
    font-weight: bold;
  }

  .nf {
    color: #a6e22e;
    font-weight: bold;
  }

  .no {
    color: #66d9ef;
  }

  .bp {
    color: #f8f8f2;
  }

  .nb {
    color: #f8f8f2;
  }

  .ni {
    color: #f8f8f2;
  }

  .nn {
    color: #f8f8f2;
  }

  .vc {
    color: #f8f8f2;
  }

  .vg {
    color: #f8f8f2;
  }

  .vi {
    color: #f8f8f2;
  }

  .nv {
    color: #f8f8f2;
  }

  .w {
    color: #f8f8f2;
  }

  .nl {
    color: #f8f8f2;
    font-weight: bold;
  }

  .nt {
    color: #f92672;
  }
}

