body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  margin: auto;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: $heading-font;
}

h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  line-height: 1em;
}

h3 {
  font-size: 1.5em;
}

.post-data {
  font-size: smaller;
  font-weight: bold;
}

a {
  color: $link-color;
  text-decoration: none;
  transition-property: color;
  transition-duration: 500ms;
  &:visited {
    color: $link-color;
  }
  &:hover {
    color: black;
    text-decoration: underline;
  }
  &:active {
    color: $link-color;
  }
}

header {
  font-family: $heading-font;
  font-size: 1.3em;
}

blockquote {
  border: 1px solid $mid-grey;
  background-color: $light-grey;
  padding: 1em;
  color: $dark-grey;

  strong {
    color: $very-dark-grey;
  }

  cite {
    display: block;
    text-align: right;
    font-size: smaller
  }

  @media screen and (max-width: $break-small) {
    margin: 0;
  }
}

