body {
  font-family: 'Cabin', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  margin: auto;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
  line-height: 1em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: $link-color;
  &:hover {
    color: $link-color;
    text-decoration: none;
  }
  &:active {
    color: $link-color;
  }
  &:visited {
    color: $link-color;
  }
}

header {
  p {
    font-size: smaller;
  }
}

blockquote {
  border: 1px solid $mid-grey;
  background-color: $light-grey;
  padding: 1em;
  color: $dark-grey;

  strong {
    color: $very-dark-grey;
  }

  cite {
    display: block;
    text-align: right;
    font-size: smaller
  }

  @media screen and (max-width: $break-small) {
    margin: 0;
  }
}

