body {
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
}

blockquote {
  border: 1px solid $mid-grey;
  background-color: $light-grey;
  padding: 1em;
  color: $dark-grey;

  strong {
    color: $very-dark-grey;
  }

  cite {
    display: block;
    text-align: right;
    font-size: smaller
  }

  @media screen and (max-width: $break-small) {
    margin: 0;
  }
}

