$light-grey: #FEFEFE;
$mid-grey: #DDD;
$dark-grey: #777;
$very-dark-grey: #555;
$bright-yellow: rgba(255, 255, 0, 0.45);

$break-small: 25em;

$link-color: #005ea5;

$padding-unit: 1em;

$heading-font: 'PT Sans', sans-serif;
$body-font: 'Cabin', sans-serif;