$light-grey: #f5f5f5;
$mid-grey: #DDD;
$dark-grey: #777;
$very-dark-grey: #555;
$almost-black: #383838;
$success-colour: #00d531;
$warning-colour: #ff5351;
$info-colour: #e8f7fa;
$slight-interest-colour: #fcffe2;

$break-small: 25em;
$break-medium: 50em;

$link-color: #005ea5;

$padding-unit: 1em;

$heading-font: 'Arvo', sans-serif;
$body-font: 'Open Sans', sans-serif;