---
layout: default
---

{{ content }}

<main class="home">
    {%- if site.posts.size > 0 -%}
    <h1 >{{ page.list_title | default: "Posts" }}</h1>

    <ul>
    {%- for post in site.posts -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <li>
            <span>{{ post.date | date: date_format }}</span>
                <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
</main>


{%- endif -%}

